<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140362108373-2h30elep35saabuc1ae1jfhorm9fqsat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140362108373-2h30elep35saabuc1ae1jfhorm9fqsat</string>
	<key>API_KEY</key>
	<string>AIzaSyAjHUHWkyRECSASKHmUji_S8yq8MvwHqSo</string>
	<key>GCM_SENDER_ID</key>
	<string>140362108373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kstudyapp</string>
	<key>PROJECT_ID</key>
	<string>kstudyapp</string>
	<key>STORAGE_BUCKET</key>
	<string>kstudyapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140362108373:ios:ba37c5226ad79e51c4015c</string>
</dict>
</plist>